.menu {

	// .menu__icon
	&__icon {}

	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			z-index: 99;
			width: 100vw;
			height: 100vh;
			left: -100%;
			top: 0;
			overflow: auto;
			padding: toRem(0) toRem(24) toRem(24) toRem(24);
			margin-top: toRem(72);
			transition: left 0.3s;
			display: flex;
			background-color: $whiteColor;

			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: toRem(73);
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
				border-bottom: 1px solid $bigLightGrayColor;
				z-index: 2;
			}

			.menu-open & {
				left: 0;

				&::before {
					left: 0;
				}
			}
		}
	}

	// .menu__list
	&__list {
		@media (max-width: $mobile) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start !important;
			row-gap: toRem(40);
			flex-wrap: nowrap !important;

			li a {
				font-size: toRem(24);
				font-family: 'belgant';
			}
		}
	}

	// .menu__item
	&__item {}

	// .menu__link
	&__link {
		@media (max-width: $mobile) {}
	}
}

//Burger Icon
.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(22);
		height: toRem(18);
		z-index: 101;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0;
			position: absolute;
			height: toRem(2);
			background-color: #000;
		}

		&::before {
			top: 0;
			width: toRem(14);
		}

		&::after {
			bottom: 0;
			width: 100%;
		}

		span {
			width: toRem(18);
			top: calc(50% - toRem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {
				width: 100%;
			}

			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}