.checkbox {
	position: relative;

	&:not(:last-child) {
		margin-bottom: em(5);
	}

	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;

		&:focus-visible + .checkbox__label:before {
			box-shadow: 0 0 5px #000;
		}

		&:checked + .checkbox__label:before {
			background: url('@img/checked.svg') center no-repeat;
			background-size: contain;
		}
	}

	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		position: relative;
		gap: 10px;

		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 16px;
			width: 16px;
			height: 16px;
			border: 1px solid #a7a9ac;
			transform: translateY(toRem(2));
		}


	}

	// .checkbox__text
	&__text {
		align-self: center;
		font-weight: 500;
		font-size: toRem(14);
		line-height: 150%;
	}
}