//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding-bottom: toRem(14);
	padding-top: toRem(14);
	border-bottom: 1px solid $grayColor;
	caret-color: inherit;
	color: $mainColor;

	&._form-focus {}

	&._form-error {}
}

.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		color: $grayColor;
		transition: opacity 0.3s;
	}

	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}