.about {
	margin-top: toRem(124);
	padding-top: toRem(40);
	padding-bottom: toRem(40);

	@media (max-width: $mobile) {
		margin-top: toRem(74);
	}

	&__container {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 64, 40, 0, 1328, 375);

		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}

	&__body {
		@media (min-width: $mobile) {
			flex: 0 0 41.642%;
		}
	}

	&__title {
		text-align: left;
	}

	&__info {
		line-height: 120%;
		font-weight: 500;
		@include adaptiveValue("font-size", 20, 18, 0, 1328, 375);
		@include adaptiveValue("margin-bottom", 8, 4, 0, 1328, 375);
	}

	&__subinfo {
		line-height: 150%;
		@include adaptiveValue("font-size", 16, 14, 0, 1328, 375);
	}

	&__pictures {
		flex: 1 1 auto;
		position: relative;
		border-radius: toRem(4);
		overflow: hidden;
		padding-bottom: 55.723%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@media (max-width: $mobile) {
			width: 100%;
			padding-bottom: 122.326%;
		}
	}
}

.about .about__body .about__title._title {
	@include adaptiveValue("margin-bottom", 24, 16, 0, 1328, 375);
}

//========================================================================================================================================================
.vision {
	background-color: $mainColor;
	color: $whiteColor;
	padding-top: toRem(80);
	padding-bottom: toRem(80);

	&__container {
		display: flex;
		align-items: center;
		text-align: left;
		@include adaptiveValue("gap", 64, 10, 0, 1328, 375);

		@media (max-width: $mobile) {
			gap: toRem(64);
			flex-direction: column;
		}
	}

	&__pictures {
		position: relative;
		padding-bottom: 55.723%;

		@media (min-width: $mobile) {
			flex: 0 0 50.302%;
		}

		@media (max-width: $mobile) {
			width: 100%;
			padding-bottom: 110.723%;
		}
	}

	&__image-01 {
		position: absolute;
		top: 0;
		left: 0;
		width: 55.69%;
		height: 73.65%;
		object-fit: cover;
	}

	&__image-02 {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 55.69%;
		height: 73.65%;
		object-fit: cover;
		z-index: 3;
	}

	&__body {
		flex: 1 1 auto;
	}

	&__title {
		text-align: left;
		margin-bottom: toRem(8) !important;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: toRem(10);
		line-height: 150%;
		@include adaptiveValue("font-size", 16, 14, 0, 1328, 375);
	}
}

//========================================================================================================================================================

.selection {
	position: relative;

	@media (min-width: toEm(991.98)) {
		grid-template-columns: toRem(24) 1fr minmax(auto, toRem(1340)) 1fr toRem(24);
		display: grid;
	}

	@media (max-width: toEm(991.98)) {
		padding-bottom: toRem(80);
	}

	.selection__box {
		grid-column: 1 / 6;
	}

	&__body {
		position: relative;

		@media (min-width: toEm(991.98)) {
			padding-right: toRem(64);
			flex-basis: toRem(640);
		}
	}

	.selection__stycky {
		// flex: 0 0 50%;
		position: sticky;
		top: 0;
		height: 100vh;
		flex-grow: 1;
		z-index: 3;
		flex-basis: 700px;

		@media (max-width: toEm(991.98)) {
			display: none;
		}
	}

	&__pictures {
		height: 100vh;
		position: relative;

		img {
			position: absolute;
			top: 0;
			left: 0;
			object-position: center top;
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0;
			visibility: hidden;
			transition: all 0.4s;

			&._active {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

section {
	position: relative;
	z-index: 3;
}
.slide-gallery{
	cursor: pointer;
}
.selection__wrapper {
	flex-basis: toRem(576);
	position: relative;
	overflow: hidden;

	.wrapper-content {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 300px;
		z-index: 2;
		pointer-events: none;
		background: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
		display: none;

		&._active {
			display: block;
		}

		@media (max-width: toEm(991.98)) {
			display: none !important;
		}
	}

	.wrapper-content__sticky {
		content: "";
		position: sticky;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 200px;
		background-color: $mainColor;
		z-index: 33;
	}
}

@media (min-width: 991.98px) {
	.selection .selection__box {
		grid-column: 3 / 6;
		display: flex;
	}
}

.selection__wrapper {
	@media (min-width: toEm(991.98)) {
		padding-top: 80%;
		padding-bottom: 80%;
	}

	.item-selection:not(:last-child) {
		margin-bottom: toRem(64);
		// margin-bottom: 100vh;

		@media (max-width: toEm(991.98)) {
			margin-bottom: toRem(48);
		}
	}
}

.item-selection__title {
	line-height: 120%;
	font-family: "belgant";
	margin-bottom: toRem(8);
	@include adaptiveValue("font-size", 32, 24, 0, 1328, 375);
}

.item-selection__info {
	p {
		line-height: 150%;
		@include adaptiveValue("font-size", 16, 14, 0, 1328, 375);

		&:not(:last-child) {
			display: block;
			margin-bottom: toRem(12);
		}
	}
}

.item-selection__picture {
	@media (min-width: toEm(991.98)) {
		display: none;
	}

	@media (max-width: toEm(991.98)) {
		position: relative;
		margin-left: toRem(-24);
		margin-right: toRem(-24);
		padding-bottom: 134.56%;
		margin-bottom: toRem(24);

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.item-selection {
	@media (max-width: toEm(991.98)) {
		padding-left: toRem(24);
		padding-right: toRem(24);
	}
}
