.arcollection {
	padding-bottom: toRem(80);

	@include adaptiveValue("padding-bottom", 80, 40, 0, 1328, 375);

	&__main {
		display: flex;
		flex-direction: column;
		height: calc(100vh - toRem(124));
		margin-top: toRem(122);

		@media (max-width: $mobile) {
			margin-top: toRem(72);
			height: calc(100vh - toRem(74));
			// padding-bottom: toRem(40);
		}
	}
}

.item-arcollection__link {
	@media (any-hover: hover) {
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}

	img {
		transition: all 0.4s;
	}
}

.main-arcollection {

	&__slider {
		flex: 1 1 auto;
	}

	&__wrapper {}

	&__slide {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: toRem(126);
		@include adaptiveValue("padding-bottom", 126, 91, 0, 1328, 375);
	}
}

.slide-main-arcollection {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		position: relative;
		z-index: 3;
	}

	&__container {}

	&__title {
		color: $whiteColor !important;
	}

	&__action {
		display: flex;
		justify-content: center;
	}
}

.arcollection-slider {
	position: relative;
}

.arcollection-pagination {
	position: absolute;
	bottom: toRem(40);
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	display: flex;
	align-items: center;
	gap: toRem(15);

	.swiper-pagination-bullet {
		transition: all 0.4s;
		height: toRem(3);
		width: 32px;
		flex: 0 0 toRem(32);
		background-color: #8E8782;
		border-radius: toRem(100);
		overflow: hidden;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			height: 100%;
			left: 0;
			width: 0;
			background-color: #fff;
			z-index: 2;
		}
	}

	.swiper-pagination-bullet-active {
		&::before {
			animation: widthSlide 6s infinite linear;
		}
	}
}

@keyframes widthSlide {
	0% {
		width: 0%;
	}

	90% {
		width: 100%;
	}

	100% {
		width: 100%;
	}
}

.arcollection-slider-button-next,
.arcollection-slider-button-prev {
	position: absolute;
	top: 50%;
	z-index: 10;
	width: toRem(40);
	height: toRem(40);
	display: flex;
	justify-content: center;
	align-items: center;

	@media (any-hover: hover) {
		&:hover {
			svg {
				transform: scale(.8);
			}
		}
	}

	svg {
		transition: all 0.4s;
		width: toRem(40);
		height: toRem(40);
		object-position: center;
		object-fit: contain;

	}
}

.arcollection-slider-button-prev {
	left: toRem(80);
	transform: rotate(180deg) translateY(-50%);

	@media (max-width:$mobile) {
		display: none;
	}
}

.arcollection-slider-button-next {
	right: toRem(80);
	transform: translateY(-50%);

	@media (max-width:$mobile) {
		display: none;
	}
}


//========================================================================================================================================================
.content-arcollection {

	&__boxes {}

	&__box {
		
		display: flex;
		
		&._dark-box {
			background-color: $mainColor;
		}

		&._light-box {
			background-color: $whiteColor;
		}
		@media (max-width:$mobile){
			 flex-direction: column; 
		}
		@media (min-width:$mobile){
			padding-top: toRem(80);

		}
	}
}

.item-arcollection {

@media (min-width:$mobile){
	flex: 0 0 50%;
	position: relative;
	padding-bottom: 45.9723%;

	overflow: hidden;
}
@media (max-width:$mobile){
	 .item-arcollection__link{
		position: relative;padding-bottom: 106.67%;width: 100%;
	 } 
}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__body {

		text-align: center;
		position: relative;
		z-index: 2;
		@media (min-width:$mobile){
			position: absolute;
			left: 50%;
			bottom: toRem(40);
			transform: translateX(-50%);
		}
		@media (max-width:$mobile){
			 padding-top: toRem(32); 
			 padding-bottom: toRem(32);
		}
	}

	&__title {
		font-family: "belgant";
		@include adaptiveValue("margin-bottom", 32, 24, 0, 1328, 375);
		@include adaptiveValue("font-size", 32, 24, 0, 1328, 375);

		._dark-box & {
			color: $mainColor;
			@media (max-width:$mobile){
					color: $whiteColor;
			}
		}

		._light-box & {
			color: $whiteColor;
			@media (max-width:$mobile){
				color: $mainColor;
			}
		}
	}

	&__actions {
		display: flex;
		justify-content: center;
	}
}
.item-arcollection{
	@media (max-width:$mobile){
		 padding-top: toRem(0); 
	}
}