// Заголовки, загальні БЕМ блоки та інше...
._btn {
	padding: toRem(8) toRem(20);
	border-radius: toRem(2);
	font-size: toRem(16);
	font-weight: 500;
	min-height: toRem(40);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s;

	&._light {
		color: $mainColor;
		background-color: $whiteColor;

		@media (any-hover: hover) {
			&:hover {
				color: $whiteColor;
				background-color: $mainColor;
			}
		}
	}

	&._dark {
		color: $whiteColor;
		background-color: $mainColor;

		@media (any-hover: hover) {
			&:hover {
				color: $whiteColor;
				background-color: $bigLightGrayColor1;
			}
		}
	}

	&._fw {}
}


._title {
	text-align: center;

	line-height: 120%;
	font-family: 'belgant';

	@include adaptiveValue("font-size", 64, 36, 0, 1328, 375);

	&:not(:last-child) {
		margin-bottom: toRem(12);
	}
}

._subtitle {
	font-size: toRem(20);
	text-align: center;
	line-height: 140%;
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;
}