// Заголовки, загальні БЕМ блоки та інше...
._btn {
	padding: toRem(8) toRem(20);
	border-radius: toRem(2);
	font-size: toRem(16);
	font-weight: 500;
	min-height: toRem(40);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s;

	&._light {
		color: $mainColor;
		background-color: $whiteColor;

		@media (any-hover: hover) {
			&:hover {
				color: $whiteColor;
				background-color: $bigLightGrayColor1;
			}
		}
	}

	&._dark {
		color: $whiteColor;
		background-color: $mainColor;

		@media (any-hover: hover) {
			&:hover {
				color: $whiteColor;
				background-color: $bigLightGrayColor1;
			}
		}
	}

	&._fw {
		width: 100%;
		flex: 1 1 auto;
	}
}

//========================================================================================================================================================

._title {
	text-align: center;

	line-height: 120%;
	font-family: "belgant";

	@include adaptiveValue("font-size", 64, 36, 0, 1328, 375);

	&:not(:last-child) {
		margin-bottom: toRem(12);
		@include adaptiveValue("margin-bottom", 12, 8, 0, 1328, 375);
	}
}

._subtitle {
	text-align: center;
	line-height: 140%;
	@include adaptiveValue("font-size", 20, 18, 0, 1328, 375);
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;
}

//========================================================================================================================================================

body::-webkit-scrollbar-track {
	background-color: $mainColor;
	border-radius: 50px;
}

body::-webkit-scrollbar-thumb {
	background-color: $whiteColor;
	border-radius: 50px;
}

body::-webkit-scrollbar {
	width: 4px;
}


.select__scroll::-webkit-scrollbar-track {
	background-color: transparent;
}



.select__scroll::-webkit-scrollbar-thumb {
	background-color: #71706F;
	border-radius: 50px;
}

.select__scroll::-webkit-scrollbar {
	width: 4px;
}

//========================================================================================================================================================
.carts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: toRem(24);
	@include adaptiveValue("row-gap", 56, 48, 0, 1328, 375);

	@media (max-width: $tablet) {
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: $mobile) {
		grid-template-columns: 1fr;
	}
}

.cart {
	min-width: 0;
	border-radius: toRem(4);
	overflow: hidden;

	@media (any-hover: hover) {
		&:hover {

			.cart-button-prev,
			.cart-button-next {
				opacity: 1;
			}

			.cart__wishlist {
				opacity: 1;
			}

			.cart-pagination {
				opacity: 1;
			}
		}
	}
}

.cart__box {
	position: relative;
}

.carts__body {
	margin-top: toRem(16);

	@media (any-hover: hover) {
		&:hover {
			.cart__title {
				text-decoration: underline;
			}
		}
	}
}

.cart__title {
	font-family: "belgant";
	line-height: 120%;
	@include adaptiveValue("font-size", 32, 24, 0, 1328, 375);
}

.cart__info {
	line-height: 150%;
	margin-top: toRem(8);

	@include adaptiveValue("font-size", 16, 14, 0, 1328, 375);
}

.cart__wishlist {
	position: absolute;
	z-index: 4;
	top: toRem(16);
	right: toRem(16);
	transition: all 0.4s;

	&._active {
		svg {
			path {
				fill: $redColor;
			}
		}
	}

	svg {
		width: toRem(32);
		height: toRem(32);
		object-fit: contain;

		path {
			stroke: $whiteColor;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.1);
		}
	}

	@media (min-width: $mobile) {
		opacity: 0;
	}
}

.slide-cart__picture {
	position: relative;
	padding-bottom: 121.78%;
	border-radius: toRem(4);
	overflow: hidden;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center top;
	}
}

.cart-button-prev {
	left: toRem(16);

	svg {
		transform: rotate(180deg);
	}
}

.cart-button-next {
	right: toRem(16);
}

.cart-button-prev,
.cart-button-next {
	width: toRem(40);
	height: toRem(40);
	border-radius: 50%;
	transition: all 0.4s;
	background-color: $whiteColor;

	svg {
		width: toRem(24);
		object-fit: contain;

		path {
			stroke: $mainColor;
		}
	}

	z-index: 4;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	@media (any-hover: hover) {
		&:hover {
			background-color: $lightGrayColor;
		}
	}

	@media (min-width: $mobile) {
		opacity: 0;
	}
}

.cart-pagination {
	position: absolute;
	bottom: toRem(24);
	left: 50%;
	transform: translateX(-50%);
	z-index: 4;
	display: flex;
	align-items: center;
	gap: toRem(15);
	opacity: 0;
	transition: all 0.4s ease 0.2s;

	.swiper-pagination-bullet {
		transition: all 0.4s;
		cursor: pointer;
		width: toRem(32);
		flex: 0 0 toRem(32);

		height: toRem(3);
		background-color: hsla(0, 0%, 100%, 0.3);
		backdrop-filter: blur(toRem(4));
		border-radius: toRem(100);
	}

	.swiper-pagination-bullet-active {
		background-color: $whiteColor;
		cursor: default;
	}
}

//========================================================================================================================================================
.bread {
	ul {
		display: flex;
		align-items: center;
		gap: toRem(8);
		flex-wrap: wrap;

		li {
			display: flex;
			align-items: center;
			gap: toRem(8);

			&:not(:last-child) {
				&::after {
					content: "/";
				}
			}

			&:last-child {
				a {
					color: #c6c5c3;
					pointer-events: none;
				}
			}

			a {
				line-height: 120%;
				transition: all 0.4s;
				font-weight: 500;
				white-space: nowrap;
				@include adaptiveValue("font-size", 16, 14, 0, 1328, 375);

				@media (any-hover: hover) {
					&:hover {
						svg {
							transform: scale(1.1);
						}

						text-decoration: underline;
					}
				}

				svg {
					transition: all 0.4s;
					width: toRem(24);
					height: toRem(24);
					object-fit: contain;
				}
			}
		}
	}
}

//========================================================================================================================================================

.more {
	background-color: $mainColor;
	padding-top: toRem(80);
	padding-bottom: toRem(80);
	color: $whiteColor;

	&__container {}

	&__title {
		margin-bottom: toRem(8) !important;
	}

	&__info {
		max-width: toRem(732);
		margin-left: auto;
		margin-right: auto;
		line-height: 150%;
		text-align: center;
	}

	&__slider {
		@include adaptiveValue("margin-top", 64, 40, 0, 1328, 375);

		@media (max-width: $mobileSmall) {
			visibility: visible !important;
			margin-right: -24px;
			margin-left: -24px;
			padding-left: toRem(24);
			padding-right: toRem(24);
		}
	}

	&__wrapper {}

	&__slide {}

	&__controlls {
		margin-top: toRem(64);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: toRem(40);

		@media (max-width: $mobile) {
			display: none;
		}
	}
}

.slide-more {
	&__link {
		position: relative;
		display: block;

		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}

	&__pictures {
		position: relative;
		border-radius: toRem(4);
		overflow: hidden;
		padding-bottom: 121.88%;

		@media (max-width: $mobile) {
			padding-bottom: 123.88%;
		}

		img {
			position: absolute;
			transition: all 0.4s;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		margin-top: toRem(16);
		line-height: 120%;
		font-family: "belgant";
		@include adaptiveValue("font-size", 32, 24, 0, 1328, 375);
	}

	&__label {}
}

.more-button-prev {
	transform: rotate(-180deg);
}

.more-pagination {
	display: flex;
	align-items: center;
	gap: toRem(15);

	.swiper-pagination-bullet {
		transition: all 0.4s;
		cursor: pointer;
		width: toRem(32);
		flex: 0 0 toRem(32);
		height: toRem(3);
		background-color: hsla(0, 0%, 100%, 0.3);
		backdrop-filter: blur(toRem(4));
		border-radius: toRem(100);
	}

	.swiper-pagination-bullet-active {
		background-color: $whiteColor;
		cursor: default;
	}
}

.more-button-next {}

.more-button-prev,
.more-button-next {
	width: toRem(40);
	height: toRem(40);
	flex: 0 0 toRem(40);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: toRem(4);
	overflow: hidden;
	border: 1px solid transparent;

	transition: all 0.4s;

	svg {
		width: toRem(40);
		height: toRem(40);
		object-fit: contain;
	}

	@media (any-hover: hover) {
		&:hover {
			border: 1px solid hsla(0, 0%, 100%, 0.4);
		}
	}
}

.swiper-lazy-preloader {
	border: 4px solid #000 !important;
	border-top-color: transparent !important;
	width: 42px;
	height: 42px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -21px;
	margin-top: -21px;
	z-index: 10;
	transform-origin: 50%;
	animation: swiper-preloader-spin 1s infinite linear;
	box-sizing: border-box;
	border-radius: 50%;
}

@keyframes swiper-preloader-spin {
	100% {
		transform: rotate(360deg);
	}
}


//========================================================================================================================================================
form._sending {}


form {
	position: relative;

	&._sending {
		.form-send {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
	}

	.form-send {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: -5%;
		left: -5%;
		width: 110%;
		height: 110%;
		z-index: 10;
		background-color: hsl(0deg 0% 0% / 41%);
		border-radius: 6px;
		backdrop-filter: blur(4px);
		transition: all 0.4s;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;


	}

	.loading {
		position: absolute;
	}
}


:root {
	--spinner-size: 40px;
	--spinner-ring-size: 4px;
	--spinner-speed: 1.5;
	--accent-color: #fff;
}

/* Styles */

@property --spinner-start-angle {
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
}

@property --spinner-end-angle {
	syntax: '<angle>';
	inherits: false;
	initial-value: 360deg;
}

/* Thanks to @bramus for helping fix the deprecated fallback: https://x.com/bramus/status/1826608392821244227 */
@property --property-zero {
	syntax: '<number>';
	inherits: false;
	initial-value: 0;
}


.loading {
	--_size: var(--spinner-size, 2em);
	--_ring-size: var(--spinner-ring-size, calc(var(--_size) / 10));
	--_duration: calc(2s / var(--spinner-speed, 1));
	box-sizing: border-box;

	width: var(--_size);
	height: var(--_size);
	margin-inline: 1em;
	border-radius: 100vmax;
	background:
		conic-gradient(transparent 0deg, transparent var(--spinner-start-angle), var(--accent-color) var(--spinner-start-angle), var(--accent-color) var(--spinner-end-angle), transparent var(--spinner-end-angle));
	mask-image: radial-gradient(transparent calc(var(--_size) / 2 - var(--_ring-size) - 1px), black calc(var(--_size) / 2 - var(--_ring-size)));
	animation: spinner calc(var(--_duration) / 0.6) ease-in-out infinite, spin var(--_duration) linear infinite;

	/* remove border if @property is supported */
	border: var(--property-zero, var(--_ring-size)) solid color-mix(in hsl, currentcolor 10%, transparent);
	border-top: var(--property-zero, var(--_ring-size)) solid var(--accent-color);


}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		--spinner-start-angle: 0deg;
		--spinner-end-angle: 10deg;
	}

	50% {
		--spinner-start-angle: 35deg;
		--spinner-end-angle: 315deg;
	}

	100% {
		--spinner-start-angle: 350deg;
		--spinner-end-angle: 360deg;
	}
}

.send-form__info {
	text-align: center;
	line-height: 120%;
	@include adaptiveValue("font-size", 24, 15);
}

.send-form .popup__content {
	max-width: 800px;
}