.events {
	margin-top: toRem(124);
	@include adaptiveValue("padding-top", 80, 40, 0, 1328, 375);
	@include adaptiveValue("padding-bottom", 80, 64, 0, 1328, 375);
	@media (max-width: $mobile) {
		margin-top: toRem(74);
	}
}
.events__title._title {
	@include adaptiveValue("margin-bottom", 32, 16, 0, 1328, 375);
}
.item-events__date {
	border-top: 1px solid #e2e2e2;
	text-align: center;
	line-height: 150%;
	@include adaptiveValue("font-size", 16, 14, 0, 1328, 375);
	@include adaptiveValue("padding-top", 24, 16, 0, 1328, 375);
	@include adaptiveValue("margin-bottom", 40, 32, 0, 1328, 375);
}
.item-events {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 104, 64, 0, 1328, 375);
	}
}
.cart__date {
	font-weight: 500;
	font-size: toRem(14);
	margin-top: toRem(12);
}
.item-events__info {
	margin-top: toRem(12);
}
.cart-static {
	img {
		transition: all 0.4s;
	}
	@media (any-hover: hover) {
		&:hover {
			.cart__title {
				text-decoration: underline;
			}
			img {
				transform: scale(1.1);
			}
		}
	}
}
.item-events__info {
	white-space: nowrap; /* Запретить перенос строк */
	overflow: hidden; /* Скрыть переполняющий текст */
	text-overflow: ellipsis;
}
