//====================================================================================================
.main {
	position: relative;
	height: calc(100vh - toRem(124));
	margin-top: toRem(124);
	display: flex;
	flex-direction: column;

	@media (max-width:$mobile) {
		height: calc(100vh - toRem(74));
		margin-top: toRem(74);

	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: hsl(0deg 0% 0% / 20%);
	}

	&__left,
	&__right {
		position: absolute;
		top: 0;
		width: 50%;
		height: 100%;
		object-fit: cover;
		object-position: top;

		@media (max-width:$mobile) {
			width: 100%;
		}
	}

	&__left {
		left: 0;
	}

	&__right {
		right: 0;

		@media (max-width:$mobile) {
			display: none;
		}
	}

	&__container {
		flex: 1 1 auto;
		width: 100%;
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		padding-bottom: toRem(100);

		color: $whiteColor;
		@include adaptiveValue("padding-bottom", 100, 80, 0, 1328, 375);

	}

	&__title {
		font-family: 'belgant';
		@include adaptiveValue("font-size", 120, 50, 0, 1328, 375);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 30, 0, 1328, 375);

		}

		span {
			@include adaptiveValue("font-size", 64, 36, 0, 1328, 375);
		}
	}

	&__btn {}
}

.main__video-action {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 60, 30, 0, 1328, 375);
	}
}

.video-stop {
	position: absolute;
	top: toRem(20);
	z-index: 4;
	right: toRem(20);
	opacity: 0;

	._video-play & {
		opacity: 1;
	}
}

.video-play {
	._video-play & {
		opacity: 0;
	}
}

.video-stop,
.video-play {
	transition: all 0.4s;

	svg {
		width: toRem(100);
		height: toRem(100);
		object-fit: contain;

	}

	@media (any-hover: hover) {
		&:hover {
			transform: scale(.9);
		}
	}
}

//====================================================================================================
.discover {
	padding-top: toRem(80);
	padding-bottom: toRem(80);
}

.discover__body {
	margin-top: toRem(40);
}

.info-gallery__slider {
	max-width: toRem(840);
	margin: toRem(40) auto 0 auto;
	overflow: visible !important;

	// .info-gallery__slide.swiper-slide-active {
	// 	opacity: 1;
	// }

	// .info-gallery__slide {
	// 	opacity: 0;
	// 	transition: all 0.6s;
	// }
}

.slide-info-gallery {
	text-align: center;

	&__title {
		font-family: 'belgant';
		font-size: toRem(32);
		line-height: 120%;
		margin-bottom: toRem(16);
	}

	&__info {
		font-size: toRem(20);
		line-height: 140%;
	}

	&__actions {
		margin-top: toRem(24);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__button {}
}

.gallery__slider {
	max-width: toRem(400);
	margin: 0 auto;
	overflow: visible !important;
}

.slide-gallery {
	transition: all 0.6s;

	&.swiper-slide-prev {
		// transform: scale(.7);
	}

	&.swiper-slide-next {
		// transform: scale(.7);
	}

	&.swiper-slide-active {
		transform: scale(1);
	}
}

.slide-gallery {

	&__body {
		position: relative;
		border-radius: toRem(2);
		padding-bottom: 125%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__label {
		position: absolute;
		top: toRem(16);
		right: toRem(6);
		z-index: 2;
		border-radius: toRem(4);
		padding: toRem(6) toRem(12);
		color: $mainColor;
		background-color: $whiteColor;
		font-weight: 500;
	}
}

//========================================================================================================================================================
.featured {
	padding-bottom: toRem(56);
	@include adaptiveValue("padding-top", 56, 32, 0, 1328, 375);

	&__container {}

	.featured__items {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		@include adaptiveValue("gap", 64, 24, 0, 1328, 375);

		@media (max-width:$mobile) {
			gap: toRem(24);
		}
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			object-fit: contain;
			@include adaptiveValue("height", 48, 32, 0, 1328, 375);
		}

		@media (max-width:$mobile) {
			flex: 0 0 calc(50% - toRem(12));
		}
	}

	.featured__title {
		text-align: center;
		font-family: 'belgant';
		@include adaptiveValue("font-size", 24, 18, 0, 1328, 375);

		&:not(:last-child) {
			margin-bottom: toRem(24);
		}
	}
}

.item-featured {}

//========================================================================================================================================================
.retailer {
	background-color: $mainColor;
	color: $whiteColor;
	@include adaptiveValue("padding-top", 80, 64, 0, 1328, 375);
	@include adaptiveValue("padding-bottom", 80, 64, 0, 1328, 375);


	&__container {}

	&__title {
		font-family: 'belgant';
		text-align: center;
		line-height: 120%;
		@include adaptiveValue("font-size", 32, 24, 0, 1328, 375);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 12, 8, 0, 1328, 375);
		}
	}

	&__info {
		text-align: center;
		max-width: toRem(642);
		margin: 0 auto;
		line-height: 150%;
		background-image: linear-gradient();
	}

	&__actions {

		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("margin-top", 32, 24, 0, 1328, 375);

	}
}

//========================================================================================================================================================
.book {
	padding-top: toRem(64);
	padding-bottom: toRem(64);
	background-color: $lightGrayColor;

	&__container {}

	&__title {
		font-family: 'belgant';
		line-height: 120%;
		text-align: center;
		@include adaptiveValue("font-size", 32, 24, 0, 1328, 375);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 56, 40, 0, 1328, 375);

		}
	}

	&__items {
		display: flex;
		justify-content: center;
		row-gap: toRem(32);

		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 70, 24, 0, 1328, 375);

	}

	&__item {}

	&__actions {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("padding-top", 56, 32, 0, 1328, 375);
	}
}

.item-book {

	&__image {
		position: relative;

		@include adaptiveValue("width", 200, 88, 0, 1328, 375);
		@include adaptiveValue("height", 200, 88, 0, 1328, 375);

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 32, 16, 0, 1328, 375);

		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	&__info {
		text-align: center;
	}
}